.profileImage {
  transition: opacity 0.5s ease-in-out;
  border: 4px solid #ffc107;
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.5);
}

.blurbContainer {
  padding: 20px;
  background-color: #e0ab09;
  position: relative;
  border-radius: 10px;
  border: 2px solid black;
  z-index: 1;
  width: 80%;
  color: white;
}

.blurb {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
