.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.timelineLine {
    position: absolute;
    width: 6px;
    background-color: #FFC107;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timelineItem {
    position: relative;
    width: 50%;
    padding: 20px 0;
}

.left {
    left: 0;
    padding-right: 40px;
}

.right {
    left: 50%;
    padding-left: 40px;
}

.timelineContent {
    padding: 20px;
    background-color: #1C1C1C;
    position: relative;
    border-radius: 6px;
    border: 2px solid #FFC107;
    z-index: 1;
    width: 100%;
}

.timelineIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FFC107;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1C1C1C;
    font-size: 10px;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timelineIcon .left {
    left: 50%;
}

.timelineIcon .right {
    left: 50%;
}

@media screen and (max-width: 768px) {
    .timelineLine {
        left: 31px;
    }

    .timelineItem {
        width: 100%;
        padding-left: 70px;
        padding-right: 0;
    }

    .timelineItem.right {
        left: 0;
    }

    .timelineIcon {
        left: 31px !important;
        transform: translateX(-50%);
    }

    .timelineContent {
        width: calc(100% - 40px);
    }
}
